node_modules/
**/node_modules/

frontend/.next/
frontend/out/
backend/dist/
*.tsbuildinfo

.env
.env.*
!.env.example
**/.env
**/.env.*

*.db
*.db-journal

node_modules/.prisma

.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini

*.log
npm-debug.log*
yarn-debug.log*